<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor Formula Editor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Editable">
                <svg class="bi" viewBox="0 0 16 16">
                    <polygon stroke="#FFFFFF" stroke-width="1" fill="none" points="3,11 5,13 1,15" stroke-linejoin="round"></polygon>
                    <polygon stroke="#FFFFFF" stroke-width="1" fill="none" points="3,11 12,2 14,4 5,13" stroke-linejoin="round"></polygon>
                    <path stroke="#FFFFFF" stroke-width="1" fill="none" d="M 12 2 C 14 0 16 2 14 4"></path>
                </svg> Editable
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Evaluated">
                <svg class="bi" viewBox="0 0 16 16">
                    <polyline stroke="#FFFFFF" stroke-width="3" fill="none" points="1,10 6,14 15,4"></polyline>
                </svg> Evaluated
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
